* {
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0px;
    margin: 0px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  ul,li {
    list-style: none;
  }
  
  .container {
    width: 992px;
    /* width: 80%; */
    margin: 0px auto;
  }
  
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-image: url('../img/header_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

nav {
    border-bottom: 1px solid #A1A1A1;
}
.nav_wrap{
    display: flex;
    align-items: center;
}

.nav_left, .nav_right {
    width: 50%;
}

.nav_right .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
}

.menu li {
    padding-right: 15px;
}

.text_on_photo {
    position: relative;
    top: 30%;
    text-align: center;
}

.text_on_photo p{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 2%;
}

.text_on_photo h2 {
    font-size: 48px;
    line-height: 64px;
    padding-bottom: 3%;
}

.button_blue {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 13px 36px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
}

.create_icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 27px;
}

/* section create */

.create {
    background-color: #E5E5E5;
    padding: 100px 0;
}

.create_title {
    text-align: center;
}

.create_title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.create_title h2 {
    padding-bottom: 3%;
}

.create_title p {
    padding-bottom: 4%;
    font-size: 16px;
    line-height: 25px;
    color: #999;
}

.create_icons {
    padding-bottom: 4%;
}

.icon_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_wrap .img {
    border: 1px solid #4985FF;
    border-radius: 100%;
    padding: 10px;
}

.icon_wrap .left_text {
    margin-left: 17px;
}

.create .button_blue {
    display: flex;
    justify-content: center;
}

.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* section create */

/* section standarts */

.standarts {
    background-color: #F6F6F8;
    padding: 100px 0;
}

.standarts_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 121px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 4%;
}

.standarts_title h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    padding-bottom: 2%;
}

.standarts_title p {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 2%;
    color: #999999;
    font-weight: normal;
}

.standarts_title a {
    color: #4985FF;
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.project_numbers {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
}

.icon_num {
    display: flex;
    align-items: center;
    padding-top: 70px;
    font-size: 36px;
    line-height: 53px;
    font-style: normal;
    font-weight: normal;
}

.icon_num img {
    margin-right: 20px;
}
/* section standarts */

/* services */


.services_block {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    padding-top: 100px;
    height: 500px;
}

.services_block .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
}

.services_block p {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
}

.button_services {
    display: flex;
    justify-content: end;   
}

.photo_block {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: -150px;
}

/* services */

.block .title {
    padding: 30px 0 30px;
}

.title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.title span {
    color: #4985FF;
}

.info {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    padding-bottom: 30px;
}

.block a {
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   text-decoration-line: underline;
   color: #4985FF;
   }

hr {
   border: 1px solid #E0E0E0;
   width: 1110px; 
   margin-bottom: 85px;
   margin-top: -60px;
}

.our_project {
   padding: 100px 0;
   background: #F6F6F8;
   text-align: center;
}

.our_project .container button {
   margin: 0 auto;
   font-size: 16px;
   color: #fff;
   background: #4985FF;
   box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
   border-radius: 30px;
   padding: 13px 36px;
}

.project_title h2 {
   font-weight: bold;
   font-size: 36px;
   line-height: 53px;
   padding-bottom: 50px;
}

.project_title p {
   font-size: 16px;
   padding-bottom: 50px;
   color: #999999;
}
.project_wrap  {
   display: grid;
   grid-gap: 30px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-bottom: 60px;
}

.our_job {
  position: relative;
}
.bg_image img {
  width: 100%;
}

.text_photo {
  position: absolute;
  top: 70px;
  left: 32%;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
}
.text_photo p{
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

.video {
  position: absolute;
  top: 35%;
  left: 17%;
}

.video_button {
  position: absolute;
  top: 75%;
  left: 39%;
}

.rassylka {
  margin-top: 230px;
  margin-bottom: 85px;
}

.rassylka_title h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.rassylka_title p {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin-bottom: 30px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin-bottom: 35px;
}

.input input {
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 15px 33px;
  width: 400px;
}

.input button {
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  border: none;
  padding: 13px 33px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-left: -40px;
}

.input_p {
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  }

  .footer_wrap .container{
    margin: 70px auto;
    display: flex;
    gap: 43px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content: space-between;
  }

  .footer_menu li {
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    padding-bottom: 10px;
    }

  .main_li {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #000 !important;
  padding-bottom: 35px !important;
  }

  .footer_icon {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .copyRight {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
    margin: 30px auto;
  }










/* media */
@media screen and (max-width: 1140px) {
    
  }
  @media screen and (max-width: 992px) {
    .nav_right .menu {
        display: block;
    }
    .standarts_wrap {
        grid-template-columns: 1fr ;
        grid-gap: 20px;
    }
    .project_numbers {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr ;
}

  }
  @media screen and (max-width: 768px) {
    .text_on_photo h2 {
        font-size: 30px;
    }

    .create_icons {
        grid-template-columns: 1fr;
    }


  }
  @media screen and (max-width: 576px) {
    
  }


/* media */